<div style="display: flex; flex-direction: column;">
  <h1 style="font-size: 28px; line-height: 32px; letter-spacing: 0.2px; text-align: center;" class='label'> Date
    Difference calculator app </h1>
  <div class="divStyling">
    <input placeholder="From Date..." (dateChange)="fromPicker($event, true)" class="inputStyling" [value]='date1'
      matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker panelClass='datepickerFrom'></mat-datepicker>
  </div>

  <div style="margin-left: 50%;">
    <input type="button" style="width: auto;" value="Calculate" (click)='calculateDiff(date1, date2, yearSliderChecked, monthsSliderChecked)' />
  </div>

  <div class="divStyling">
    <input placeholder="To Date..." (dateChange)="fromPicker($event, false)" class="inputStyling" [value]='date2'
      matInput [matDatepicker]="picker1">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1 panelClass='datePickerTo'></mat-datepicker>
  </div>

  <div class="divStyling">
    <mat-slide-toggle class="sliderToggle" [checked]="yearSliderChecked" (toggleChange)= 'yearSliderToggle()' [disabled]="disabled">
      Diff in Years
    </mat-slide-toggle>
    <mat-slide-toggle class="sliderToggle" [checked]="monthsSliderChecked" (toggleChange)= 'monthSliderToggle()' [disabled]="disabled">
      Diff in Months
    </mat-slide-toggle>
  </div>

  <div style="margin: 25px;">
    <span class='label'> The Difference between dates : </span>

    <div class='label'>Years : {{years}}</div>
    <i>OR</i>
    <div class='label'>Months : {{months}} </div>
    <i>OR</i>
    <div class='label'> Days : {{days}}</div>
  </div>

</div>